/* styles.css */

/* Global styles for the entire app */
body {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Bootstrap background color */
}

.country-data {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.country-data_row {
  display: flex;
  flex-direction: row;
}

.country-data_item div{
  padding: 10px;
}

.country-data strong {
  margin-right: 30px;
}

/* Styles for the select dropdown in Dropdown.jsx */
.select-dropdown {
  margin-bottom: 20px;
}

.select-dropdown select {
  width: 300px;
  height: 25px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff; 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
/* Styles for the list of airports in Airports.jsx */
.airports-list {
  list-style: none;
  padding: 0;
}

.airports-list li {
  margin-bottom: 10px;
}

/* Styles for the Currency Exchange component in CurrencyExchange.jsx */
.currency-exchange, .airports {
  border: 1px solid #ced4da; /* Bootstrap border color */
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
}

.currency-exchange_select {
  width: 250px;
  height: 24px;
  margin-bottom: 5px;
  font-size: 15px;
}

.selected-country-info {
  border: 1px solid #ced4da; 
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  font-size: 20px;
}

.links , {
  display: flex;
  flex-direction: row;
}

.labels {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-family: Arial, sans-serif;
  margin-top: 12px;
}

.labels label:first-child {
  margin-right: 10px;
}

.labels label:last-child {
  margin-left: 10px;
}

/* .label-equals {
  margin: 0 5px;
} */

.label-equals {
  font-size: 24px;
  margin: 0 10px;
}

.links {
  display: flex;
  flex-direction: row;
}

.links div {
  padding: 10px;
  font-size: 20px
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff ;
  color:#0a1520;
  text-decoration: none;
  border: 1px solid #0a1520;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.button-link:hover {
  background-color: #50647a; /* Darker blue on hover */
}

.active {
  background-color: #0a1520;
  color: #fff;
}

/* .cash-input {
  margin-top: 2px;
} */

.cash-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100px;
}

